

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



// Colors
$primary-color:#494E76;
$secondary-color:#0C0F2B;

$background-color:#F2F5FF;

$light-color:#ffffff;
$dark-color:#000000;

// Variables


// 


// Reset

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}

// Custom

body {
    background-color:$background-color;
}


.language {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // background-color: transparent;
    border: 2px solid $light-color;
    border-radius: 20px;
    padding: 20px;
    
    .language-content {
        // width: 450px;
        // height: 400px;

        padding: 30px;
        background-color: $light-color;
        border-radius: 10px;

        h2 {}

        .language-content_selection {

            .language-content_selection-list {

                .language-content_selection-list_lang {
                    
                    p {}
                }

                .language-content_selection-list-icon {

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            
        }
        
        .language-content_bottom {
            
            button {

                span {
                    font-size: 2em;
                }
            }
        }
    }
}
