


// Fonts

// Color
$primary-backgroung-color: #EEEEEE;

// Variables



// Reset

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}